{
  "root": true,
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-import"
  ],
  "rules": {
    "import/no-named-as-default": 0,
    "import/prefer-default-export": "off",
    "import/no-unresolved": 0,
    "import/extensions": [
      "error",
      "never",
      {
        "js": "never"
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "prettier/prettier": "error",
    "camelcase": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-continue": "off",
    "no-await-in-loop": "off"
  },
  "overrides": [
    {
      "files": ["test/*test.ts"],
      "rules": {
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/ban-ts-comment": "off"
      }
    }
  ],
  "ignorePatterns": ["lib/*", "src/mg-*.ts"]
}
